/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
<<<<<<< HEAD
  display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  display: -webkit-flex;
>>>>>>> parent of 1c5fe28... temp
=======
  display: -webkit-flex;
>>>>>>> parent of 1c5fe28... temp
  height: 100%;
  width: 100%;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
<<<<<<< HEAD
<<<<<<< HEAD
  overflow: hidden; }

.backgroundVideo {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; }

header {
  color: white;
  order: -1;
  width: 100%;
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center; }
=======
=======
>>>>>>> parent of 1c5fe28... temp
  -webkit-justify-content: space-between;
  overflow-x: hidden;
  background-color: #F7A3A1;
}

header {
  color: white;
  position: fixed;
  order: -1;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  height: 80px;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
<<<<<<< HEAD
>>>>>>> parent of 1c5fe28... temp
=======
>>>>>>> parent of 1c5fe28... temp

h1 {
  font-size: 100px;
  font-weight: bold;
  font-family: Orkney-Medium;
  user-select: none;
<<<<<<< HEAD
<<<<<<< HEAD
  cursor: default; }

h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: Orkney-Medium;
  user-select: none;
  cursor: pointer; }

h5 {
  font-size: 20px;
  font-weight: normal;
  font-family: Orkney-Medium;
  user-select: none;
  cursor: none; }
=======
=======
>>>>>>> parent of 1c5fe28... temp
  cursor: default;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  font-family: Orkney-Medium;
  user-select: none;
  cursor: pointer;
}
<<<<<<< HEAD

h5 {
  font-size: 15px;
  font-weight: normal;
  font-family: Orkney-Medium;
  user-select: none;
  cursor: none;
}
>>>>>>> parent of 1c5fe28... temp

p {
  font-family: Orkney-Regular;
  font-size: 20px;
<<<<<<< HEAD
  line-height: 26px; }

.trigger {
  position: absolute;
  left: 0;
  margin-left: 20px;
  cursor: pointer; }
=======
  background-color: white;
  height: 100%; }

h1 {
  font-family: Orkney-Bold;
  font-size: 50px; }

h2 {
  font-family: Orkney-Bold;
  font-size: 32px; }

h3 {
  font-family: Orkney-Bold;
  font-size: 26px; }
>>>>>>> parent of 2668ea1... revertt

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
<<<<<<< HEAD
.trigger:hover {
  animation: rotate 4s linear 0s infinite; }

footer {
  color: white;
  text-align: center;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1 0 300px; }

.menu {
  color: #FFF;
  width: 0;
=======
  line-height: 26px;
  align-self: left;
  -webkit-align-self: left;
}

.trigger {
  position: absolute;
  right: 0;
  margin-right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1;
}

@keyframes rotate {
=======

h5 {
  font-size: 15px;
  font-weight: normal;
  font-family: Orkney-Medium;
  user-select: none;
  cursor: none;
}

p {
  font-family: Orkney-Regular;
  font-size: 20px;
  line-height: 26px;
  align-self: left;
  -webkit-align-self: left;
}

.trigger {
  position: absolute;
  right: 0;
  margin-right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1;
}

@keyframes rotate {
>>>>>>> parent of 1c5fe28... temp
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

.trigger:hover {
  animation: rotate 4s linear 0s infinite;
}

.container {
<<<<<<< HEAD
>>>>>>> parent of 1c5fe28... temp
=======
>>>>>>> parent of 1c5fe28... temp
=======
header {
  position: sticky;
  top: 0;
  height: 100px;
  width: 100%;
>>>>>>> parent of 2668ea1... revertt
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
<<<<<<< HEAD
  justify-content: flex-end; }
  header .trigger {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
<<<<<<< HEAD
    justify-content: flex-end; }
    .menu ul li h2 {
      margin-right: 40px; }

.content {
  flex: 1 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
=======
  flex: 1 0 300px;
}

.menu {
  color: #FFF;
  width: 0;
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  opacity: 0;
}

.menu ul {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
  overflow: hidden;
}

.menu ul li {
    width: calc(100% - 40px);
    margin: 20px;
    display: flex;
    display: -webkit-flex;
    flex: 1 0;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

@media only screen and (max-width : 768px){
  .menu ul li{
    justify-content: center;
    -webkit-justify-content: center;
  }
}

.content {
  flex: 1 0;
  height: 100%;
  color: white;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
>>>>>>> parent of 1c5fe28... temp

.page {
=======
    justify-content: center;
    margin: 20px; }
    header .trigger :hover {
      animation: rotate 4s linear 0s infinite; }
    header .trigger .icon {
      color: #F7A3A1; }

.main {
>>>>>>> parent of 2668ea1... revertt
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .page h2 {
    align-self: flex-start;
    margin-bottom: 20px;
    cursor: default; }

.page[value="1"], .page[value="2"], .page[value="3"] {
  width: 50%;
  min-width: 300px; }

@media (max-width: 767px) {
  .page h1 {
    margin-left: 20px; } }
=======
=======
  flex: 1 0 300px;
}

.menu {
  color: #FFF;
  width: 0;
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  opacity: 0;
}

.menu ul {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
  overflow: hidden;
}

.menu ul li {
    width: calc(100% - 40px);
    margin: 20px;
    display: flex;
    display: -webkit-flex;
    flex: 1 0;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

@media only screen and (max-width : 768px){
  .menu ul li{
    justify-content: center;
    -webkit-justify-content: center;
  }
}

.content {
  flex: 1 0;
  height: 100%;
  color: white;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
>>>>>>> parent of 1c5fe28... temp
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
}

.page h2 {
  align-self: left;
  -webkit-align-self: left;
  margin-bottom: 40px;
  cursor: default;
}


@media only screen and (max-width : 768px){
  .page[value="1"] h2, .page[value="3"] h2{
    position: absolute;
    top:45px;
    left: 10%;
  }
}
@media only screen and (max-width : 768px){
  .page[value="2"] h2{
    margin-left: 5%;
  }
}

.page[value="2"] h2{
  margin-left: 35px;
  margin-top: 40px;
}

#bg_black{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}

#main{
  text-align: center;
}

/*Keyframes for slide up*/
@-webkit-keyframes slideUp { from { top:45vh; } to { top:17vh; } }
@-moz-keyframes slideUp { from { top:45vh; } to { top:17vh; } }
@keyframes slideUp { from { top:45vh; } to { top:17vh; } }

#main_hdiv{
  position: absolute;
  width: 100%;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  top: 45vh;

  -webkit-animation:slideUp ease-in 1;
  -moz-animation:slideUp ease-in 1;
  animation:slideUp ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;

  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
=======
  flex-direction: row; }
  .main .content {
    height: 100%; }
    .main .content .page1 {
      color: #F7A3A1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center; }
  .main .menu {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F7A3A1; }
    .main .menu li {
      text-align: right;
      padding: 20px; }
>>>>>>> parent of 2668ea1... revertt

#main h1{
  font-size: 45px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#main img{
  margin-bottom: 40px;
}

#main_con {
  position: absolute;
  opacity: 0;
  display: block;
  width: 100%;
  top: 40vh;

  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;

  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}

#main_con h2, #main_con h5{
  opacity: 0;

  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

#explore{
  width: 120px;
  height: 20px;
  position: relative;
  align-self: flex-end;
  -webkit-align-self: flex-end;
  margin-top: 80px;
  cursor: pointer;
}

#explore p{
  font-size: 18px
}


@media only screen and (max-width : 1600px){
  #gallery{
    width: 100%;
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap:   0px;
    -moz-column-count:    2;
    -moz-column-gap:      0px;
    column-count:         2;
    column-gap:           0px;  
  }
}
@media only screen and (max-width : 768px){
  #gallery{
    width: 100%;
    line-height: 0;
    -webkit-column-count: 1;
    -webkit-column-gap:   0px;
    -moz-column-count:    1;
    -moz-column-gap:      0px;
    column-count:         1;
    column-gap:           0px;  
  }
}

.gallery_wrap{
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.gallery_img{
  width: 100% !important;
  height: auto !important;
  display: block
}

.gallery_hoverwrap{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  display: -webkit-flex;
  opacity: 0;
  transition: opacity .25s ease;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.gallery_wrap:hover .gallery_hoverwrap{
  opacity:1;
}

.gallery_titlewrap{
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  width: 100%;
  flex-direction: column;
}

#gallery h2{
  align-self: center;
  -webkit-align-self: center;
  margin: 0;
  height: 60px;
}

#gallery h5{
  align-self: center;
  -webkit-align-self: center;
  font-size: 13px;
}

.page[value="1"], .page[value="2"], .page[value="3"] {
  width: 80%;
}

.page[value="2"]{
  width: 100%;
  justify-content-items: flex-start;
  -webkit-justify-content: flex-start;
}
<<<<<<< HEAD
>>>>>>> parent of 1c5fe28... temp
=======
>>>>>>> parent of 1c5fe28... temp

.page[value="0"]{
  position: absolute;
  top:0;
  left:0;
  z-index: -2;
}
