:root {
    --noodly-yellow: #FCBF49;
}

html, body {
    width: 100%;
    margin: 0;
    font-family: sf-pro;
    font-size: 18px;
    color: #323336;
}

p {
    margin: 0 0 40px;
}

h1 {
    font-weight: 700;
    font-size: 1.4rem; /*idk*/
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin: 0 auto 50px;
}

h4 {
    /* font-size: 0.8rem; 16 */
    font-weight: 700;
    margin: 0 0 0.8rem;
}

h5 {
    font-weight: 700;
    font-size: 0.8rem;
    margin:0;
}

h6 {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0.5rem 0 0.7rem;
    line-height: 1.3rem;
}

#noodly-header {
    position: relative;
    background-image:url(../img/ui/noodly/header.png);
    background-position: center;
    min-height: 200px;
}

#noodly-logo {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
section {
    display: block;
    margin: auto;
    padding: 0 20px;
    margin: 100px auto;
}

#top-section {
    margin-top: 60px;
}

hr {
    margin: 100px 0;
    border-top: 1px solid #ddd;
}

#overview-flex {
    display: flex;
    flex-wrap: wrap;
    
}

#summ-flex {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

#summ-flex > div {
    margin: 0 5px;
}

#detail-flex {
    margin-top: 40px;
}

#process-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.process-card {
    background-color: #fcfcfc;
    position: relative;
    text-align: center;
    margin: 0 15px 30px;
    padding: 30px 0;
    flex: 1;
    box-shadow: 1px 3px 3px #00000015;
    border-radius: 10px;
}

.process-card img {
    display: block;
    margin: 10px auto 25px;
}

.process-card h1 {
    color: var(--noodly-yellow);
    margin-bottom: 1.2rem;
    
}

ul {
    padding: 0;
    display: inline-block;
    margin-top: 0;
}

li {
    list-style-type: none;
    text-align: left;
    padding-bottom: 0.5rem;
}

.img-full {
    max-width: 100%;
    display: block;
    margin: 40px auto 40px;
}

#color-box {
    background-color: var(--noodly-yellow);
}

#wireframes-box {
    /* background-color: var(--noodly-yellow); */
    padding-top: 100px;
    padding-bottom: 50px;
    color: #fff;
}

#wireframes-box h1 {
    margin-bottom: 0;
}

video {
    display: block; 
    width: 100%;
    max-width: 600px;
    margin: 0 auto 200px;
    clip-path: inset(2px 2px);
}

@media only screen and (min-width: 768px) {
    #noodly-logo {
        position: absolute;
        bottom:0;
        left: 0;
        top: auto;
        right: auto;
    }

    section {
        padding: 0 40px;
        max-width: 1040px;
    }

    #top-section {
        margin-top: 100px;
    }

    #overview-flex > div{
        flex: 1;
    }

    #overview-flex > #summ-flex {
        flex-direction: column;
        justify-content: left;
        flex: 0 10vw;
        margin-right: 100px;
    }

    #summ-flex h6 {
        margin-bottom: 40px;
    }

    #detail-flex {
        margin-top: 0;
    }

    #process-flex {
        flex-direction: row;
    }

    .process-card {
        max-width: 250px;
    }
}